
<aside class="share">

  <p>If you liked, please share it on <script src="//platform.linkedin.com/in.js" type="text/javascript"> lang: en_US</script> <script type="IN/Share"></script>  <a href="http://twitter.com/share?text={{page.title}}&amp;url={{ site.url }}{{ page.url }}&amp;via={{ site.twitter_username }}"
  onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;"> <i class="fa fa-twitter fa-2x" aria-hidden="true" style="color:#00aced"></i></a>  <a href="https://www.facebook.com/sharer/sharer.php?u={{ site.url }}{{ page.url }}" onclick="window.open(this.href, 'facebook-share', 'width=550,height=235');return false;"> <i class="fa fa-facebook-square fa-2x" aria-hidden="true" style="color:#3b5998"></i></a>  </p>

</aside>


 

