---
layout: compress
published: true
---
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en" class="no-js" itemscope itemtype="http://schema.org/WebPage">

  {% include head.html %}

  <body>

    <a href="#content" class="skip">Skip to content</a>

    <div class="wrap">

      <div class="masthead">
        <canvas id="canvas" style="width:100%;height:100%;max-height:230px;position:absolute;z-index:1;opacity:0.5"></canvas>
        <div class="container">
          <h2 class="masthead-title">
            <a href="{{ site.url }}" title="{{ site.title }}" class="title">{{ site.logo_text | downcase }} <span class="dot-red">•</span><span class="dot-yellow">•</span><span class="dot-green">•</span></a>
            {% if site.show_tagline %}
            <small>{% include tagline.html %}</small>
            {% endif %}
          </h2>

          {% if site.show_social_icons %}
            {% include social_link_icons.html %}
          {% endif %}

          <div class="nav">
              <ul class="top-menu">
                <li><a href="{{ "/" | prepend: site.baseurl | prepend: site.url }}" title="Home"><i class="fa fa-home"></i></a></li>
                <li><a href="{{ "/about" | prepend: site.baseurl | prepend: site.url }}">About</a></li>
                <!--<li><a href="/resume">Resume <i class="fa fa-external-link-square"></i></a></li>-->
                <li><a href="{{ "/projects" | prepend: site.baseurl | prepend: site.url }}" class="bg-red"><i class="fa fa-space-shuttle" aria-hidden="true"></i> Projects</a></li>
                {% if page.title == "Home" %}
                <li><a href="{{ "/#Tags" | prepend: site.baseurl | prepend: site.url }}">Tags</a></li>
                {% else %}
                <li><a href="{{ "/tagged" | prepend: site.baseurl | prepend: site.url }}">Tags</a></li>
                {% endif %}
                <li><a href="http://heiswayi.github.io/my-photography">Photography <i class="fa fa-external-link-square"></i></a></li>
                <li><a href="{{ "/reminder" | prepend: site.baseurl | prepend: site.url }}">Reminder</a></li>
              </ul>
          </div>

        </div>
      </div>

      <div id="content" class="container content">
        {{ content }}
      </div>
    </div>

	  {% include foot.html %}

  </body>
</html>
